/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    height: 100vh;
}
:root{
  --border-color: #DDDDDD;
  --font-color: #333333;
  --font-color-red: #E57373;
  --font-color-light: #E2E2E2;
  --success-color: #66BB6A;
  --primary-color: #42A5F5;
  --error-color: #EF5350;
  --warning-color: #FFEE58;
  --secondary-color: #B0BEC5;
}

.text-title{
  color: var(--font-color);
  font-size: 30px;
  font-weight: semi-bold;
}
