.stk-login {
    height: 100%;
    background-image: url('../../../../assets/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    .login-content{
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        .login-form{
          background-color: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: center;
          .content{
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
          }
        }
    }
}
