<div class="stk-login">
    <div class="login-content">
        <div class="logo-content col-6">
        </div>
        <div class="login-form col-6">
            <div class="content col-12" style="max-width: 520px;">
              <div class="text-title">
                Seja bem vindo
              </div>
              <div class="col-12">
                <stk-input [element]="username" [formGroup]="form" />
              </div>
              <div class="col-12">
                <stk-input [element]="password" [formGroup]="form" />
              </div>
              <div class="col-12">
                <stk-button [button]="buttonSend" />
              </div>
            </div>
        </div>
    </div>
</div>
